# WiFi
wifi_ssid: "YourWiFiName"
wifi_password: "YourWiFiPassword"

# ESPHome API (generate new key: esphome wizard)
api_key: "GENERATE_NEW_KEY_HERE"

# OTA update password
ota_password: "GENERATE_NEW_PASSWORD_HERE"

# Fallback AP password
ap_password: "PICK_A_PASSWORD"
